body {
    background-color: beige;
    margin: 0px;
    text-align: center;
    font-family: 'Hina Mincho', serif;
}

h1 {
    font-family: 'sacramento';
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

div {
    background-color: #E4F9F5;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.middle-container {}

.bottom-container {}

.kiki {
    font: bold;
    text-decoration: underline;
}

.cloud2 {
    position: absolute;
}

.cloud1 {
    position: relative;
    left: 300px;
    top: 50px;
}

.snoww {
    height: 300px;
    width: 300px;
}

.fighting {
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 30px;
}

.loyal {
    height: 300px;
    width: 300px;
    float: right;
    margin-left: 20px;
}

.heading {
    font-size: 90px;
}

.skill-row {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 2;
}

.bottom-container {
    background-color: #EAF6F6;
}